<div>
    <div class="toolbar">

        <div class="col-sm-1" style="width: 200px">
            <input type="text" class="form-control" placeholder="Amount">
        </div>
        <div class="col-sm-1" style="width: 200px">
            <input type="text" class="form-control" placeholder="姓名">
        </div>
        <button class=" btn btn-default">新建</button>
        <div class="btn-group">
            <button class="btn btn-success">新建</button>
            <button class="btn btn-primary">修改</button>
            <button class="btn btn-danger">删除</button>
        </div>

    </div>
    <div class="col-sm-12">
        <div gf-grid="grid"></div>
    </div>

</div>